/2.2 Paragraph Element
/2.2+Paragraph+Element
/2.4 Movie Ranking Project
/3.0 List Elements
/3.4 Birthday Invite Project
/4.1 Webpages
/4.3 HTML Porfolio Project
/5.4 Color Vocab Project
/6.0 CSS Colors
/6.4 Motivation Meme Project